body {
  --color-accent-11: #1A795D;
  --color-accent-12: #0D4534;

  --color-grey-10: #7C8481;
  --color-grey-11: #5F6563;
  --color-grey-12: #1A211E;

  padding: 2rem;
  background-image: linear-gradient(45deg, #EEE 0%, #888 100%);
  display: grid;
  justify-content: center;
}

main {
  border-radius: 1%;
  background: white;
  aspect-ratio: 8.5 / 11;
  padding: 2rem;
  min-width: 80ch;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-grey-12);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 0.25rem 0;
}

h1 {
  font-family: 'Bebas Neue';
  font-size: 5rem;
}

h2 {
  font-family: 'Bebas Neue';
  font-size: 1.75rem;
}

h3 {
  font-family: 'Montserrat';
  font-size: 2rem;
}

h4 {
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-weight: 300;
}

span {
  font-family: 'Montserrat';
  color: var(--color-grey-11);

  &.contact-details {
    font-size: 0.875rem;
  }

  &.location-details {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  &.team-details {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}

p {
  font-family: 'Montserrat';
  max-width: 60ch;
  text-wrap: pretty;
  color: var(--color-grey-11);

  &.low-importance {
    color: var(--color-grey-10);
  }

  & + p {
    margin-top: 0.75rem;
  }
}

a {
  color: var(--color-accent-11);

  &:visited {
    color: var(--color-accent-12);
  }
}

.lucide {
  width: 1rem;
  height: 1rem;

  stroke-width: 1px;
  color: --var(--color-grey-11);
}

section {
  display: grid;
  grid-template-columns: minmax(auto, 24ch) minmax(80ch, 1fr);
  column-gap: 2rem;
}

section.name-section {
  grid-template-areas:
    ". name"
    ". contact-details"
  ;
}

h1.name {
  grid-area: name;
}

div.contact-details {
  grid-area: contact-details;
  display: flex;
  gap: 1rem;
  align-items: center;
}

section.generic-section {
  padding-top: 2rem;
  grid-template-areas:
    ". title"
    "content content"
  ;
}

.section-title {
  grid-area: title;
}

div.section-content {
  grid-area: content
}

section.experience-section {
  grid-template-areas:
    "date company"
    ". details"
  ;
}

section.experience-section + section.experience-section {
  margin-top: 2rem;
}

section.experience-section.internship {
  filter: opacity(70%);
}

.date {
  grid-area: date;
  justify-self: end;
  align-self: center;
  text-align: right;
}

.company {
  grid-area: company;
}

div.experience-details {
  grid-area: details;
}

section.skills-section {
  grid-template-areas:
    ". languages"
    ". other"
  ;
  row-gap: 1rem;

  & > .languages {
    grid-area: languages;
  }

  & > .other {
    grid-area: other;
  }
}


