body {
  padding: 2rem;
  background-image: linear-gradient(45deg, #EEE 0%, #888 100%);
  display: grid;
  justify-content: center;
}

main {
  border-radius: 1%;
  background: white;
  aspect-ratio: 8.5 / 11;
  padding: 2rem;
  min-width: 80ch;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 0.25rem 0;
}

h1 {
  font-family: 'Bebas Neue';
  font-size: 5rem;
}

h2 {
  font-family: 'Bebas Neue';
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat';
  font-size: 2rem;
}

span.location-details {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 12;
}

span.team-details {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 14;
}

h4 {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 300;
}

p {
  font-family: 'Montserrat';
  max-width: 60ch;
  text-wrap: pretty;
}

p.low-importance {
  filter: opacity(70%);
  font-weight: 100;
}

p + p {
  margin-top: 1rem;
}

section {
  display: grid;
  grid-template-columns: minmax(auto, 24ch) minmax(80ch, 1fr);
  column-gap: 2rem;
}

section.name-section {
  grid-template-areas:
    ". name"
    ". contact-details"
  ;
}

h1.name {
  grid-area: name;
}

div.contact-details {
  grid-area: contact-details;
  display: flex;
}

div.contact-details > * {
  margin-right: 1rem;
}

section.generic-section {
  padding-top: 2rem;
  grid-template-areas:
    ". title"
    "content content"
  ;
}

h2.section-title {
  grid-area: title;
}

div.section-content {
  grid-area: content
}

section.experience-section {
  grid-template-areas:
    "date company"
    ". details"
  ;
}

section.experience-section + section.experience-section {
  margin-top: 2rem;
}

section.experience-section.internship {
  filter: opacity(70%);
}

.date {
  grid-area: date;
  justify-self: end;
  align-self: center;
  text-align: right;
}

.company {
  grid-area: company;
}

div.experience-details {
  grid-area: details;
}

section.skills-section {
  grid-template-areas:
    ". languages"
    ". tools-libs"
  ;
  row-gap: 1rem;
}

.languages {
  grid-area: languages
}

.tools-libs {
  grid-area: tools-libs
}
